*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #042331; 
  transition: all .5s ease; 
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}
#check:checked ~ section{
    margin-left: 250px;
}

section {
    height: 100vh;
    background-image: url(img/websitebackground.png);
    background-position: right;
    background-size: 100vh;
    transition: all .5s;
    background-repeat: no-repeat;
    
}

.carousel {
    position: sticky;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 10px;
    height: 25vh;
    width: 25vh;
    margin: 0 auto;
}
.carousel__track-container {
    background: transparent;
    height: 100%;
    position: sticky;
    overflow: hidden;
}
.carousel__track{
    background: transparent;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.carousel__slide{
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
}
.carousel__images {
    width: 100%;
    object-fit: cover;
   
}
.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}
.carousel__button img{
    width:12px;
}
.carousel__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    background: transparent;
}
.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.3);
    margin: 0 10px;
    cursor: pointer;
}
.carousel__indicator.current-slide {
    background: rgba(0,0,0,.75)
}
.carousel__button--selected {
    background: rgba(255, 255, 255, 0.5);
}
.carousel__button--right {
    right: -40px; 
}
.carousel__button--left{
    left: -40px;
}
.is-hidden { 
    display: none;
}

.wordWrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
